{% load static %}
<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

  {% if title %}
  <title>Django Blog - {{ title }}</title>
  {% else %}
  <title>Django Blog</title>
  {% endif %}
</head>

<body class="container-fluid">


  <header class="site-header">
    <!-- Left side of Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top pb-3">
      <div class="container-fluid nav-container">
        <button class="navbar-toggler" type="button" onclick="navFunction()">
          <div class="navbar-toggler-icon">
        </button>
        <a class="navbar-brand mr-auto" href=" {% url 'blog-home' %}"><img src="{% static 'blog/img/learkn_logo.png' %}"
            height='32' width='134' /></a>
        <form class="form-inline">
          <input class="form-control mr-auto" type="search" placeholder="What would you like to learn...?"
            aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          <a href=" {% url 'blog-home' %}" class="nav-item nav-link">Home</a>
          <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>

          {% if user.is_authenticated %}

          <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
          <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>

          {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Log In</a>
          <a class="nav-item nav-link" href="{% url 'register' %}">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>

  <section id="profile" class="profile col-2 " style="width: 156px;">
    <div class="container user_profile">
      <div class="row">
        <div class="col-6 pt-4">
          <img class="rounded-circle article-img pt-10" src="{{ user.image.url }}">
        </div>
        <div class="col-6 pt-4">
          {{ user.username }}
        </div>
      </div>
      <div class="row pt-4">
        <a href=" {% url 'blog-about' %}" class="col-12 d-flex flex-row  pt-4">
          <div class="image pr-3"> <img src="static/blog/img/profile_icon.png" alt="" class="icons"> </div>
          <div class=""> View Profile </div>
        </a>
        <a href=" {% url 'blog-home' %}" class="col-12 d-flex flex-row pt-4 ">
          <div class="image pr-3"> <img src="static/blog/img/home_icon.png" alt="" class="icons"> </div>
          <div class=""> Home </div>
        </a>
        <div class="col-12 d-flex flex-row pt-4">
          <div class="image pr-3"> <img src="static/blog/img/favorites_icon.png" alt="" class="icons"> </div>
          <div class=""> Favorites </div>
        </div>
        <div class="col-12 d-flex flex-row pt-4">
          <div class="image pr-3"> <img src="static/blog/img/portfolio_icon.png" alt="" class="icons"> </div>
          <div class=""> Portfolio </div>
        </div>
        <div class="col-12 d-flex flex-row pt-4">
          <div class="image pr-3"> <img src="static/blog/img/notifications_icon.png" alt="" class="icons"> </div>
          <div class=""> Notifications </div>
        </div>
        <div class="col-12 d-flex flex-row pt-4 ">
          <div class="image pr-3"> <img src="static/blog/img/educators_icon.png" alt="" class="icons"> </div>
          <div class=""> Educators </div>
        </div>
      </div>
  </section>
  <main id="main" role="main" class="profile-container row" style="margin-left: 156px;">
    <!-- Profile Side Nav -->


    <div class="container content col-12">
      <!-- Dynamic content area -->
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}

    </div>
  </main>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script type="text/javascript">
    //document.getElementById("id_q").value = "{{query}}"
  </script>
  <script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function navFunction() {
      switch (document.getElementById("profile").style.width) {
        case "156px":
          document.getElementById("profile").style.width = "0";
          document.getElementById("main").style.marginLeft = "0";
          break;
        default:
          // code block
          document.getElementById("profile").style.width = "156px";
          document.getElementById("main").style.marginLeft = "156px";
      }
    }
  </script>
</body>

</html>